body {
  background: rgb(230, 208, 157);
  background: linear-gradient(90deg, rgba(230, 208, 157, 1) 0%, rgba(247, 226, 173, 1) 45%, rgba(230, 208, 157, 1) 100%);
  position: relative;
  text-align: center;
}

#results {
  /* margin: 20px !important; */
  padding: 20px !important;
  /* border: 1px solid; */
  background: rgb(255, 255, 255) !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pm-container {
  height: 100vh !important;
  /* display: flex !important;
  justify-content: center !important;
  align-items:center !important; */
}

#my_camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  z-index: 2;
}

#my_camera video {
  border: 12px solid rgb(20, 20, 20) !important;
  box-sizing: content-box;
  border-radius: 100% !important;
}

#capture {
  position: absolute;
  top: 70%;
  left: 80%;
  font-size: 200px;
  color: #1c242e;
}

#cancel {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 300px;
  color: #b34c4c;
}

.visibility-on {
  visibility: visible;
}

.visibility-off {
  visibility: hidden;
}